body, .row, .keyboard .row div, .mouse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard .row:nth-child(1) .key:nth-child(1) {
    margin-left: 3.5em;
}

.keyboard .row div {
    width: 4em;
    height: 4em;
    margin: 0.2em;
    transform: skew(-15deg);
}